{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
      {% endif %}

      {% block css %}
          <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="hack dark main container">
        {% block content %}
            <main>
	        {% block header %}
	                {% if config.extra.after_dark_menu %}
				<header>
                	        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                        	{% for item in config.extra.after_dark_menu %}
                            	<a itemprop="url"
                               		class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                               		href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
                                	<span itemprop="name">{{ item.name }}
                                	</span></a>
                        	{% endfor %}
                        	</nav>
				</header>
                	{% endif %}
                {% endblock header %}
                {% if config.extra.after_dark_title %}
			<header>
                	<h1>{{ config.extra.after_dark_title }}</h1>
			</header>
                {% endif %}
			<br>
		</header>
                {% for page in paginator.pages %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %}

                <nav>
                  <p>
                    {% if paginator.previous %}
                      <a href="{{ paginator.previous }}">&laquo; Previous</a> |
                    {% endif %}
                    <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
                    {% if paginator.next %}
                      | <a href="{{ paginator.next }}">Next &raquo;</a>
                    {% endif %}
                  </p>
                </nav>
            </main>
        {% endblock content %}
    </body>

</html>
