{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        {% block header %}
                {% if config.extra.after_dark_menu %}
                    <header>
                        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                        {% for item in config.extra.after_dark_menu %}
                            <a itemprop="url"
                               class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                               href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
                                <span itemprop="name">{{ item.name }}
                                </span></a>
                        {% endfor %}
                        </nav>
                    </header>
                {% endif %}
        {% endblock header %}
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
                {% if page.taxonomies.categories %}
                    {% set category = page.taxonomies.categories[0] %}
                    in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                {% endif %}
                {% if page.taxonomies.tags %}
                    and tagged
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                        {% if page.taxonomies.tags | length > 1 %}
                            {% if loop.index != page.taxonomies.tags | length %}
                                {% if loop.index == page.taxonomies.tags | length - 1 %}
                                    and
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}

